**/*

!/.npmignore
!/package.json
!/README.md
!/bin/
!/bin/**

!/mcp-server/dist/
!/mcp-server/dist/**
!/sandbox/dist/
!/sandbox/dist/**
!/ui/dist/
!/ui/dist/**
!/ui/index.html

node_modules/
package-lock.json
*.log
